.parent-container {
    display: flex;
}

.walk {
    display: flex;
}

.walks-list {
    display: flex;
    justify-content: left;
    width: 20%;

}

.mapStyles {
    height: 400px;
    width: 100%;
    background-color: gray;
}