.parent-container {
    display: flex;
}

.walk {
    display: flex;
}

.walks-list {
    display: flex;
    justify-content: left;
    width: 20%;

}

.mapStyles {
    height: 200px!important;
    width: 50%!important;
    background-color: gray;
}